body {
    font-family: 'Crimson Pro', serif;
    line-height: 1.5em;
    color: #3d3d3d;
    background-color: #6f7e9d;
}

h1, h2, nav ul li a, footer {
    font-family: 'Oswald', sans-serif;
}

header {
    height: 200px;
    display: flex;
    flex-direction: column;
}

header, footer {
    background-color: #14213D;
    color: #E5E5E5;
    text-align: center;
}
header h1 {
    margin: 0;
    padding: 60px 0;
}
 nav {
    width: 960px;
    margin: auto auto 0 auto;
 }

 nav ul {
    display: flex;
    gap: 2px;
    list-style-type: none;
    padding: 0;
    margin: 0;
 }

 nav ul li {
    flex:1;
 }

 nav ul li a {
    display: block;
    background-color: #847979;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 15px 0;
    color: #14213D;
 }

 nav ul li a:hover {
    background-color: #EFBDEB;
 }

 main {
    box-sizing: border-box;
    min-height: calc( 100vh - 400px);
    padding: 20px;
    max-width: 960px;
    margin: auto;
    display: flex;
    gap: 20px;
    background-color: #E5E5E5;
 }

 main article {
    flex:1;
 }

 main div {
   background-image: url(images/llamas.jpg);
   border: 2px solid #EFBDEB;
   border-radius: 10px;
 }

/* Add a rule for fading in  */
main div:hover .cat {
   animation: fadeIn 1s forwards;
}

.cat {
   width: 100%;
   height: auto;
   display: block;
   border-radius: 10px;
   /* Add a declaration for fading out */
   opacity: 0;
   animation:  fadeOut 1s forwards;
}

/* Add two @keyframes animations. One for fading in and and one for fading out */
@keyframes fadeIn {
   from { opacity: 0; }
   to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

 footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
 }