* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: IBM Plex Sans;
}
header, main, footer{
    max-width: 1020px;
    margin: auto;
    font-size: 1em;
    color: #2B29EA;
    line-height: 1.8em;
}

#logo #square{
    width: 50px;
    height: 50px;
    background-color: #2B29EA;
}

#logo {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
}

#square a {
    display: block;
    width: 100%;
    height: 100%;
}

#logo h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding-left: 10px;
    font-weight: 400;
    font-size: 1.6em;
}


#banner  {
    position: relative;
    max-width: 100%;
    height: 100px;
    background-color: #B7BEEF;
    overflow: hidden
}

.square {
    width: 200px;
    height: 200px;
    background: #5d6cf0;
    background: radial-gradient(circle, rgba(93, 108, 240, 1) 0%, rgba(183, 190, 239, 0) 100%);
    transition: 
        transform .5s ease,
        background-color .5s ease;
        position: absolute
}

.square:hover {
    background-color: #8491f2;
    transform: scale(1.5);
}

#anim1 {
    width:30%;
    top: 0px;
    left: 0px;
}

#anim2 {
    top: 0px;
    left: 250px;
}

#anim3 {
    bottom: 0px;
    right: 50px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    margin-bottom: 2em; 
    height: auto;
}

nav a:visited {
    color: white;
}

.button  {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #2B29EA;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color 1s ease;
    border: 1px solid #1411bf;
}

.button:hover {
    background-color: #605efc;
}



/******contents****/



main {
    padding: 0 30px;
    margin: 0 1em;  
}

h1, h2, h3 {
    color: #2B29EA;
}

h1 {
    font-size: 1.6em;
    font-weight: 400;
}

h2{
    font-weight: 400;
    padding-bottom: .2em;
    margin-bottom: .2em;
}

h3{
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: .5em;
}

main h2 {
    font-weight: 300;
    font-size: 3em;
    letter-spacing: -0.03em;
    line-height: 1em;
}

a { 
    font-size: 1em;
    text-decoration: none;
}

a:visited {
    color: #2B29EA;
}

a:hover {
    background-color: #DBFB9A;
  
}

footer a:hover {
    background-color: transparent;
}

article p {
    margin-bottom: 1em;
}

article a {
    font-weight: 600;
    font-size: .8em;  
}

article a.in-text {
    font-style: italic;
    font-weight: 600;
    font-size: .9em;  
}

.article-content {
    margin-bottom: 1em;
    width: 100%;
}

.article-content ol {
    padding-left: 3em;
    margin: .6em 0;
}

.article-content ol li .sublist-num {
    padding-left: 3em;
    margin: .6em 0;
    list-style-type: square;
}

ul {
    list-style: none;
}

header a {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    }  

.card ul {
    line-height: 1.6em;
}

time {
    display: block;
    margin-bottom: 2px;
    font-size: .8em;
    font-style: italic;
}


.image-content img{
    display: block;
    width: 100%;
    height: auto;
}

article {
    margin-bottom: 3em;
}

.sketch {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}


.sketch img {
    display: block;
    width: 100%;
    height: auto;
}

figcaption {
    font-size: .8em;
    max-width: 40vh;
    line-height: 1.6em;
}

footer {
    padding: 10px 20px;
    width: 100%;
    color: white;
    background-color: #2B29EA;
    height: 60px;
    font-size: .8em;
    margin-left: auto;
}

footer a {
    color: white;
    font-weight: 600;
   
}



@media screen and (min-width: 600px) {

    main {
        margin: auto;
        padding: 0 2em;
    } 

    main #home-content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;
        justify-content: flex-start;
        gap: 4em;
        margin-bottom: 1em;
       
    }

    .card {
        margin-bottom: 0;
    }

   
    nav ul{
        flex-direction: row;
        background-color: #2B29EA;
    }

    .button {
        width: 180px;
        transition: 
            transform .5s ease,
            background-color .5s ease;
        border: 0;
    }

    .button:hover {
        transform: scaleY(1.5) translateY(-9px);
        background-color: #5451fc;
    }

    nav a {
        color: white;
    }

    article {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 3em;
    }

    .article-content {
        flex: 2;
        max-width: 50%;
    }

    .image-content{
        flex: 1;
        max-width: 50%;
    }

    .sketch {
        justify-content: center;
        width: 100%;
    }

    .sketch img {
        display: block;
        height: 40vh;
        width: auto;

}

}
    

