body {font-family: roboto;
    margin: 0;
    padding: 0;

}
main{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
    
header,footer {
    background: #FFA500;
    background: linear-gradient(90deg, rgba(255, 165, 0, 1) 0%, rgba(255, 220, 82, 1) 50%, rgba(255, 165, 0, 1) 100%);
    min-height: 100px;
    padding-bottom: 20px;
    }

header {
    padding-top: 1px;
}
footer p {
    padding: 30px;
    color: white;
}
h1 {
    padding-top: 10px;
    font-family: Oswald;
    font-weight: 400;
    font-size: 3em;
    color:white;
    padding-left: 30px;
    margin: 0;
}

h2, h3 {
    font-family: Oswald;
    color: black;
    font-weight: 400;
    margin-top: 20;
}


p{
    font-family: roboto;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}
img {display: block;
    margin-left: auto;
    margin-right: auto;}

nav ul {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;  
}
nav ul li {
    font-family: Oswald;
    font-size: 1.4em;
    flex: 1;
    background-color: black;
    width: 100%;
    height: 60px;
    list-style-type: none;
    padding: 20px;
    text-align: center;
    border: 2px solid white;
    color: white;
}

nav ul li a {
     text-decoration: none;
     color: white;
     
}

nav ul li:hover {
    background-color: #ffa500;
}
   

a:visited {
  color: white;
}

.photo {
    width: 400px;
    height: 500px;
    background-image: url('images/gate.jpg');
    background-repeat: no-repeat;
    background-size: ;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    background-size: cover;
    background-position: center;
}
.photo p{
    background-color: rgba(1,1,1,0.6);
    color: white;
    text-align: left;
    padding: 30px;
    box-sizing: border-box;
    margin: 0;
}