* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 15px;
    line-height: 1.8em;
    font-family: IBM Plex Sans, sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    outline: 2px solid red;
   
}

main,footer {
    width: 100%;
    max-width: 900px;
}

h1 {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 1;
    margin-top: 0;
}

h2 {
    font-size: 1em;
    font-weight: 400;
}
p {
    font-weight: 300;
}

main {
    background-color: black;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 3em;
    text-align: left;
    width: 100%;
    margin-bottom: 1em;
}

main #text {
    flex: 1;
    height: auto;
    border: 1px solid rgb(136, 136, 136);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.grey-squares {
    display:flex;
    flex-direction: column;
    gap:0;
    margin: 1em 0;
}

.legend-row {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}


#text strong {
    font-weight: 800;
}


#square-s1{
    width: 30px;
    height: 30px;
    background: rgb(29, 29, 29);
}

#square-s2{
    width: 30px;
    height: 30px;
    background: #3d3d3d;
}

#square-s3{
    width: 30px;
    height: 30px;
    background: #676566;
}
#square-s4{
    width: 30px;
    height: 30px;
    background: #b2b0b0;
}

#square-s5{
    width: 30px;
    height: 30px;
    background: white;
}

footer {
    width: 100%;
    max-width: 900px;
    text-align: left;
    padding: .5em 1em;
    border: 1px solid rgb(136, 136, 136);
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

.container {
    position: relative;
    width: 100%;
    max-width: 900px;
    aspect-ratio: 900/1000;

}

.container img,
.container svg {
    position: absolute;
    top: 0;
    left: 0;
}

.container svg {
    opacity: 0;
    pointer-events: all;
}

.overlay{
    position: absolute;
    width: auto;
    height: auto;
    opacity: 0;
    transition: opacity .5s ease;
}

#xrayOverlay {
    top: 40%;
    left: 15%;
}

#xrayOverlayChest {
    top: 42%;
    left: 22%;
}

.base {
    width: 100%;
}
