* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
    min-height: 100vh;
    
}

section {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.madlib {
    flex: 1;
    box-sizing: border-box;
    line-height: 2em; 
    width: 100%;
}


#animation {
    position: relative;
    min-height: 250px;
    min-width: 250px;
    margin: auto;
}

#meditating-cat{
    max-width:150px;
    height: auto;
    position: absolute;
    top: 10%;
    left: 50%;
    z-index: 10;
    animation: float-up-down  2s ease-in-out infinite;
}

@keyframes float-up-down {
    0%{
        transform: translate(-50%,0);
    }
    50%{
        transform: translate(-50%, -20px);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

#cloud1 {
    position: absolute;
    max-width: 140px;
    height: auto;
    left: 50%;
    top: 0%;
    z-index: 2;   
    animation: float-up-down1 2s ease-in-out infinite;
}

#cloud2 {
    position: absolute;
    max-width: 110px;
    height: auto;
    left: 15%;
    top: 60%;
    z-index: 3;   
    animation: float-up-down2  2s ease-in-out infinite;
}

@keyframes float-up-down1 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes float-up-down2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

#intro {
    line-height: 1.6em;
}

section p {
    padding-bottom: 2em;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

section h1 {
    font-family: "Fascinate", system-ui;
    font-weight: 600;
    font-style: normal;
    font-size: 3.4em;
    transform-origin: bottom center;
    animation: text-stretch  2s ease-in-out infinite;
    line-height: .8em;
}

@keyframes text-stretch {
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(1);
    }
}

.madlib span {
    font-size: 1em;           
    font-weight: 600;          
}

input {
    display: block;
    width: 100%;
    padding: .3em .8em;
    margin-bottom: .8em;
    border: 1px solid #2B29EA;  
    color:#2B29EA;  
}

#submit-btn {
    width: 150px;
    padding: 1em;
    margin-left: auto;
    margin-top: 1.8em;
    border:none;
    background-color: #2B29EA;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transition: transform 0.2s ease;
}

#submit-btn:hover {
    background-color: #605efc;
    transform: scaleX(1.05);
    
}

#submit-btn:active {
    transform:  scaleX(1.2);
    background-color: #605efc;
}

input:focus {
    background-color: #DBFB9A;
    border-color: #2B29EA;
    outline: none;
}

#output-view {
    display:none;
}


@media screen and (min-width: 600px) {
  
    section {
        display: flex;
        flex-direction: row;
        gap: 3em;
    }

   
    #cloud2 {
    left: 20%;
    top:55%;  
    }
    
}