* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    background-color: black;
    color: white;
    font-size: 12px;
    line-height: 1.8em;
    font-family: IBM Plex Sans;
}
h1 {
    font-size: 3em;
    font-weight: 1000;
}

p {
    font-weight: 300;
}
main {
    background-color: black;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 3em;
    min-height: 100vh;
    height: auto;
    margin: 2em;
    
}

#text {
    flex: 0 0 200px;
    height: auto;
    width: 180px;
    background-color: #2B29EA;
    padding: 1em;
}

section #image {
    flex: 2;
}

.grey-squares {
    display:flex;
}

.grey-squares div {
    width: 30px;
    height: 30px;
    
}

.s1{
    background: rgb(29, 29, 29);
}

.s2{
    background: #3d3d3d;
}

.s3{
    background: #676566;
}
.s4{
    background: #b2b0b0;
}

.s5{
    background: white;
}
