body {font-family: roboto;
}
header, main, footer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}
h1, h2, h3 {font-family: Oswald;
}
p{
    font-family: roboto;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}
img {ds}
