* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(36, 36, 36);
    color: white;
    font-size: 14px;
    line-height: 2em;
    font-family: "IBM Plex Sans", sans-serif;
    margin: auto;
    padding: 2em;
    max-width: 1000px;  

}


main {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


main #text-section {
    border: 1px solid rgb(136, 136, 136);
    padding: 1.5em;
    margin-bottom: 1em;
}

h1 {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 2.4rem;
    margin: 0 0 .4em 0;
}

h2 {
    font-size: 1.4rem;
    font-weight: 300;
}

h2 span {
    font-size: 1.6em;
    font-weight: 600;
    color: #2B29EA;
}

h3 {
    font-size: 1.4em;
    font-weight: 600;
    text-transform: uppercase;

}

p {
    font-weight: 300;
}

h4{
    color: #ffffff;
    font-weight: 500;
    font-size: 1rem;
    
}

.grey-squares{
    margin: 2em 0
}

.legend-row { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    height: 30px; 
}

#square-s1{width: 100px; height: 30px; background: rgb(29, 29, 29); }
#square-s2{width: 100px; height: 30px; background: #3d3d3d;}
#square-s3{width: 100px; height: 30px; background: #676566;}
#square-s4{width: 100px; height: 30px; background: #b2b0b0;}
#square-s5{width: 100px; height: 30px; background: white;}


main #image-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 1em;
}

.xray-container {
    position: relative;
    width: auto;
    height: 100%;
    aspect-ratio: 600/550;
    margin: 0;
    
}

#xray0, #xray1, #xray2 { 
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left top;
}

#overlay0, #overlay1, #overlay2{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}


#overlay0 svg, #overlay1 svg, #overlay2 svg { 
    position: absolute;
    inset:0;
    width: 100%; 
    height: 100%;
    display: block;

}

#label-container {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    pointer-events: none; 
    z-index: 20;
}

.xray-label {
    position: absolute;
    opacity: 0; 
    background-color: #2B29EA;
    color: white;

    width: clamp(140px, 25vw, 200px);

    padding: clamp(.6rem, 1vw, 1rem);
    font-size: clamp(0.7rem, 1vw, 1rem);
    line-height: 1.4;

    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;  
}


#label0 { top: 40%; left: 55%; }
#label1 { top: 20%; left: 5%; }
#label2 { top: 10%; left: 5%; }
#label3 { top: 20%; left: 35%; }
#label4 { top: 50%; left: 40%; }

.hotspot {
    fill: #2B29EA;
    opacity: 0; 
    cursor: pointer;
    pointer-events: all; 
}

.hotspot:hover { opacity: 0; }

.controls { 
    display: flex; 
    justify-content: flex-start;
    gap: 1em;
    width: 100%;
    z-index: 40;
}

button {
    background-color: #2B29EA; 
    color: white;
    border: none;
    padding: 1em; 
    cursor: pointer; 
    font-size: 1rem;
    font-weight: 500;
    width: 150px;
    
}



footer {
    text-align: left;
    padding: .5em 1em;
    border: 1px solid rgb(136, 136, 136);
    width: 100%;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

@media screen and (min-width: 600px) {
    
h2 {
    margin-bottom: .5em;
}
main {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
}

main #text-section {
    flex: 1;
    height: auto;
    border: 1px solid rgb(136, 136, 136);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
    
}

main #image-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
}

.xray-container {
    position: relative;
    width: auto;
    height: 100%;
    aspect-ratio: 600/550;
    margin: 0;
    
}

#xray0, #xray1, #xray2 { 
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    object-position: left top;
  
}

#overlay0, #overlay1, #overlay2{
   position: absolute;
   inset: 0;
   z-index: 10;
   pointer-events: none;;
}


#overlay0 svg, #overlay1 svg, #overlay2 svg { 
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
}
}