* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-size: 15px;
    line-height: 1.8em;
    font-family: IBM Plex Sans, sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    outline: 2px solid red;
   
}

main {
    font-size: 1.2em;
    gap: 2em;
    text-align: left;
    margin-bottom: 1em;
}

main,footer {
    width: 100%;
    max-width: 1200px;
}

main #text {
    border: 1px solid rgb(136, 136, 136);
    padding: 1em;
    margin-bottom: 2em;
}

h1 {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 1;
    margin-top: 0;
}

h2 {
    font-size: 1.6em;
    font-weight: 300;
    margin-bottom: 1em;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

p {
    color: #d3d1d1;
    font-weight: 300;
}


.grey-squares {
    display:flex;
    flex-direction: column;
    gap:0;
    margin: 1em 0;
}

.legend-row {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
}


#text strong {
    font-weight: 800;
}


#square-s1{
    width: 30px;
    height: 30px;
    background: rgb(29, 29, 29);
}

#square-s2{
    width: 30px;
    height: 30px;
    background: #3d3d3d;
}

#square-s3{
    width: 30px;
    height: 30px;
    background: #676566;
}
#square-s4{
    width: 30px;
    height: 30px;
    background: #b2b0b0;
}

#square-s5{
    width: 30px;
    height: 30px;
    background: white;
}

footer {
    text-align: left;
    padding: .5em 1em;
    border: 1px solid rgb(136, 136, 136);
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

.container {
    position: relative;
    width: 100%;
    
    aspect-ratio: 600 / 550;
    margin: 0 auto;
    max-height: 70vh;

}

.container img,
.container svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.map {
    fill: white;
    opacity: 0;
    pointer-events: all;
    cursor: pointer;
}


.label {
    position: absolute;
    background: #2B29EA;;
    color: white;
    padding: 1em;
    font-size: .8em;
    line-height: 1.4em;
    opacity: 1;
    max-width: 140px;
}

#label1 {
    top: 40%; left: 70%;
}

#label2 {
    top:26%; left: 10%;
}

#label3 {
    top:35%; left: -15%;
}

#label4 {
    top:45%; left: 60%;
}

#label5 {
    top:20%; left: 40%;
}

.controls {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.5em;
}

button {
    background-color: #2B29EA;
    padding: .5em;
    border: none;
    color: white;
    cursor: pointer;
    width: 100px;
}

@media screen and (min-width: 600px) {

main {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    text-align: left;
    margin-bottom: 1em;
}

main #text {
    flex: 1;
    height: auto;
    border: 1px solid rgb(136, 136, 136);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main #image-section {
    flex: 2;
    max-width: calc(600px - 2em);
}


}