* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(36, 36, 36);
    color: white;
    font-size: 14px;
    line-height: 1.8em;
    font-family: "IBM Plex Sans", sans-serif;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2em;
    outline: 2px solid red;
   
}

main {
    font-size: 1.2em;
    gap: 2em;
    text-align: left;
    margin-bottom: 1em;
    max-height: 740px; 
}

main,footer {
    width: 100%;
    max-width: 1200px;
}

main #text-section {
    border: 1px solid rgb(136, 136, 136);
    padding: 0 1em;
}



h1 {
    font-size: 2.6em;
    font-weight: 800;
    line-height: 2.4rem;
    margin: 0 0 .6em 0;
}

h2 {
    font-size: 1.6rem;
    font-weight: 200;
    margin-bottom: .5em;
}

h2 span {
    font-size: 1.6em;
    font-weight: 600;
    color: #2B29EA;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
}

p {
    color: #ffffff;
    font-weight: 200;
}

h4{
    color: #ffffff;
    font-weight: 500;
    font-size: clamp(0.8rem, 1vw, 1.4rem);
    text-transform: uppercase;
}

.grey-squares{
    margin: 2em 0
}

.legend-row { 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    height: 30px; 
}

#square-s1{width: 30px; height: 30px; background: rgb(29, 29, 29); border: 1px solid rgb(95, 95, 95);}
#square-s2{width: 30px; height: 30px; background: #3d3d3d;}
#square-s3{width: 30px; height: 30px; background: #676566;}
#square-s4{width: 30px; height: 30px; background: #b2b0b0;}
#square-s5{width: 30px; height: 30px; background: white;}


.xray-container {
    position: relative;
    width: 100%;
    max-height: 750px;
}

#xray0 { 
    width: 100%; 
    height: auto; 
    max-height: 750px;
    position: relative; 
    z-index: 1; }

#overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    z-index: 10;
}

#overlay svg { 
    width: 100%; 
}

img {
    max-height: 700px;
}

#label-container {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    pointer-events: none; 
    z-index: 20;
}

.xray-label {
    position: absolute;
    opacity: 0; 
    background-color: #2B29EA;
    color: white;

    width: clamp(140px, 25vw, 200px);

    padding: clamp(.3rem, 1vw, 1rem);
    font-size: clamp(0.7rem, 1vw, 1rem);
    line-height: 1.4;

    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;  
}


#label0 { top: 40%; left: 55%; }
#label1 { top: 20%; left: 5%; }
#label2 { top: 20%; left: -15%; }
#label3 { top: 30%; left: 45%; }
#label4 { top: 60%; left: 40%; }

.hotspot {
    fill: #2B29EA;
    opacity: 0; 
    cursor: pointer;
    pointer-events: all; 
}

.hotspot:hover { opacity: 0; }

.controls { 
    display: flex; 
    gap: 1em; 
    margin-top: 1em; }

button {
    background-color: #2B29EA; 
    color: white; border: none;
    padding: 1em; width: 100%; 
    cursor: pointer; 
    font-size: 1rem;
    font-weight: 500;
}

footer {
    text-align: left;
    padding: .5em 1em;
    border: 1px solid rgb(136, 136, 136);
}

a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-style: italic;
}

@media screen and (min-width: 600px) {
    
main {
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
    text-align: left;
    margin-bottom: 1em;
}

main #text-section {
    flex: 1;
    height: auto;
    border: 1px solid rgb(136, 136, 136);
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main #image-section {
    flex: 2;
    max-width: calc(600px - 2em);
}

}