body {font-family: roboto;
    margin: 0;
    padding: 0;
}
header, main, footer {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
    

h1, h2, h3 {font-family: Oswald;
}
p{
    font-family: roboto;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
}
img {display: block;
    margin-left: auto;
    margin-right: auto;}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    
}
nav ul li {
    font-family: Oswald;
    flex: 1;
    background-color: black;
    width: 100%;
    height: 60px;
    list-style-type: none;
    padding: 20px;
    text-align: center;

    border: 2px solid white;
    color: white;
}

nav ul li a {
     text-decoration: none;
     color: white;
     
}

nav ul li:hover {
    background-color: blue;
}
   

a:visited {
  color: white;
}